@import '../variables/colors.scss';

@mixin button-gig ($background, $color, $backgroundHover) {
    background-color: $background;
    color: $color;
    width: 150px;
    font-size: 1em;
    border-radius: 0;
    margin: 5px;
    &:hover {
        background-color: $backgroundHover;
    }
}

.btnSubmit {
    @include button-gig ($lightBlue, $darkBlue, $gray);
}

.btnLogin {
    @include button-gig ($lightBlue, $darkBlue, $gray);
}