@import '../variables/colors.scss';

@mixin button-gig ($background, $color, $backgroundHover, $colorHover) {
    background-color: $background;
    color: $color;
    width: 150px;
    font-size: 1em;
    border-radius: 0;
    margin-left: 5px;
    font-weight: 600;
    &:hover {
        background-color: $backgroundHover;
        color: $colorHover;
    }
}

.btnRegister {
    @include button-gig ($rose, $jewel, $jewel, $topaz);
}

.btnLogin {
    @include button-gig ($rose, $jewel, $jewel, $topaz);
}