@import '../variables/colors.scss';

@mixin button-gig ($background, $color, $backgroundHover, $colorHover) {
    background-color: $background;
    color: $color;
    width: 125px;
    font-size: 1em;
    margin-left: 5px;
    &:hover {
        background-color: $backgroundHover;
        color: $colorHover;
    }
}

.btnRegister {
    @include button-gig ($topaz, $jewel, $jewel, $topaz);
}

.btnLogin, .btnLogout, .btnUpdate {
    @include button-gig ($topaz, $jewel, $jewel, $topaz);
}

.btnGameBrowser {
    @include button-gig ($rose, $jewel, $jewel, $rose);
}