.game {
    // background-image: url("/assets/orientExpress.png");
    width: 90%;
    height:150px;
    // border: 1px solid $amethist;
    margin-bottom: 15px;
    -webkit-box-shadow: 2.5px 2.5px 5px 0px rgba(103,86,130,1);
    -moz-box-shadow: 2.5px 2.5px 5px 0px rgba(103,86,130,1);
    box-shadow: 2.5px 2.5px 5px 0px rgba(103,86,130,1);

    .gameName {
        color: $amethist;
        text-shadow: 1px 1px 1.5px $jewel;
        font-size: 1.25em;
        padding: 10px 0px;
    }

    &:hover{
        transform: scale3d(1.15,1.15,1.15);
        .gameName{
            color: $topaz;
            text-shadow: 1px 1px 1.5px $topaz;
        }
    }
}