$game_images_path: '/assets/images' !default;

$games: (
    (orientexpress),
    (starburst),
    (7sins),
    (dreamcatcher),
    (dragonwins),
    (acornpixie),
    (awhileonthenile),
    (amazonqueen),
    (beach),
    (africansimba),
    (alchymedes),
    (alice&themadteaparty)
);


@mixin game-background($gameName) {
    .game-#{$gameName} {
        background-image: url('#{$game_images_path}/#{$gameName}.jpg');
    }
}

@each $game in $games {
    @include game-background($game);
}

@include game-background(orientexpress);

.game {
    width: 90%;
    height:150px;
    // border: 1px solid $amethist;
    margin-bottom: 15px;
    -webkit-box-shadow: 2.5px 2.5px 5px 0px rgba(103,86,130,1);
    -moz-box-shadow: 2.5px 2.5px 5px 0px rgba(103,86,130,1);
    box-shadow: 2.5px 2.5px 5px 0px rgba(103,86,130,1);
    background-size: contain;
    background-repeat: no-repeat;

    .gameName {
        color: $amethist;
        text-shadow: 1px 1px 1.5px $jewel;
        font-size: 1.25em;
        padding: 10px 0px;
    }

    .playText{
        display: none;
        color: $amethist;
        text-shadow: 1px 1px 1.5px $jewel;
    }

    &:hover{
        transform: scale3d(1.15,1.15,1.15);
        .gameName {
            color: $topaz;
            text-shadow: 1px 1px 1.5px $topaz;
            font-weight: 600;
        }
        .playText {
            display: inline;
        }
    }
}