
.header {
    background-color: $amethist;
    padding: 10px 20px;

    .guts {
        font-weight: 600;
        font-size: 3em;
        color: $topaz;
        text-shadow: 2.5px 2.5px 7.5px $jewel;
        letter-spacing: 2.5px;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);

        a {
            text-decoration: none;
            color: $topaz;
        }
    }

    .username{
        color: $topaz;
        padding: 5px;
    }
}