
.header {
    background-color: $topaz;
    padding: 10px 20px;

    .guts {
        font-weight: 600;
        font-size: 3em;
        color: $rose;
        text-shadow: 2.5px 2.5px 5px $jewel;
        letter-spacing: 2.5px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-15deg);
    }
}