.body {
    font-family: medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    line-height: 1.4;
}

.games {
    margin-top: 15px;
}

.fa {
    color: $amethist;
    font-size: 3.5em;
    text-shadow: 1px 1px 1.5px $jewel;
}

.categories {
    box-shadow: 0 2px 2px -2px $amethist;
    .categoryIcon {
        color: $topaz;
        font-size: 2.5em;
        margin: 15px;

        &:hover {
            color: $amethist;
        }
}
}