$topaz: #67aeca;
$amethist: #675682;
$jewel: #5f0f4e;
$rose: #e52a6f;

// RGB color codes
$topazRGB: rgb(103,174,202);
$amethistRGB: rgb(103,86,130);
$jewelRGB: rgb(95,10,25);
$roseRGB: rgb(229,42,111);
